<% title "Tudli - My Lists" %>
<div class="section clearfix">
  <div class="pull-right">

  </div>

</div>
<div class="section clearfix">
  <div id="signupfree">
    <div id="mylist">
      <div class="clearfix">
        <div class="divine50">
          <div class="signoption row-fluid">
            <div class="signuppanel">
              <div class="mylist">
                <h3>My Lists</h3>
                <% if !@my_lists.blank? %>
                    <%= form_tag search_my_list_path, :class => "searchmini clearfix", :id => "mylist_search_form" do %>
                        <%= text_field_tag 'list_name', nil, class: "textinput input-medium", placeholder: "Search ....", :id => "mylist_keyword_search", :required => true, :autocomplete => :off %>
                        <%= image_tag "loading.gif", :id => "search_loading", :style => "display: none;padding-left: 7px;" %>
                    <% end %>
                    <div class="panel" id="my_list_seach_result" style="display: none;">
                    </div>
                <% end %>
                <div class="panel" id="my_lists_panel">
                  <% if @my_lists.blank? %>
                      <a href="<%= root_path %>" class="btn btn-primary btn-small btn-circle">+ New</a>
                  <% else %>
                      <!--Rebuild-->
                      <% @my_lists.each do |list| %>
                          <div class="one_my_list">
                            <%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                            <span style="padding-left: 20px;"><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i></span>&nbsp;
                            <%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btn-circle btndeletelist') %>
                            <% members = list.actived_members %>
                            <% uids = [] %>
                            <% if !members.blank? %>
                                <% members.each do |con| %>
                                    <% uids += [con.invited_id] %>
                                <% end %>
                                <% members = User.where("id in (?)", uids) %>
                                <% members.each do |connect| %>
                                    <ul class="unstyled" style="padding-top: 5px;">
                                      <li class="connect-email"><%= "#{connect.name}<#{connect.email}>" %>
                                        <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                      </li>
                                    </ul>
                                <% end %>
                            <% end %>
                          </div>
                      <% end %>
                      <div class="see_more_my_lists">

                      </div>
                      <% if @disabled_more_my_lists_btn %>
                          <a href="javascript:void(0);" class="see_more_my_lists_btn"><i class="icon-chevron-down"></i>
                            See
                            more</a>

                      <% end %>
                      <img src="/assets/dot_loading.gif" class="loading_more" id="loading_more_my_lists" style="display: none;"> </img>
                      <a href="javascript:void(0);" class="see_less_my_lists_btn" style="display: none;" title="Minimize"><i class="icon-chevron-up"></i></a>
                      <br/>
                      <%= link_to 'Add Unlimited Lists', my_account_path(:action => 'upgrade'), :class => 'btn btn-primary btn-small btn-circle' if current_user.roles.first.name =='free' %>
                      <br/>
                      <br/>
                  <% end %>
                </div>
                <!--Archived lists-->
                <div class="panel">
                  <h3>Archived Lists</h3>
                  <% @archived_lists.each do |list| %>
                      <div class="one_archived_list">
                        <%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                        <span style="padding-left: 20px;"><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i></span>&nbsp;
                        <%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btn-circle btndeletelist') %>
                        <% members = list.actived_members %>
                        <% uids = [] %>
                        <% if !members.blank? %>
                            <% members.each do |con| %>
                                <% uids += [con.invited_id] %>
                            <% end %>
                            <% members = User.where("id in (?)", uids) %>
                            <% members.each do |connect| %>
                                <ul class="unstyled" style="padding-top: 5px;">
                                  <li class="connect-email"><%= "#{connect.name}<#{connect.email}>" %>
                                    <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                  </li>
                                </ul>
                            <% end %>
                        <% end %>
                      </div>

                  <% end %>

                  <div class="see_more_archived_lists">
                  </div>
                  <% if @disabled_more_archived_lists_btn %>
                      <a href="javascript:void(0);" class="see_more_archived_lists_btn"><i class="icon-chevron-down"></i>
                        See
                        more</a>
                  <% end %>
                  <a href="javascript:void(0);" class="see_less_archived_lists_btn" style="display: none;" title="Minimize"><i class="icon-chevron-up"></i></a>


                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="divine50">
          <div class="signoption row-fluid">
            <div class="signuppanel">
              <h3>Invited list</h3>
              <% if !@invited_lists.blank? %>
                  <ul class="unstyled" style="margin-left: 40px;">
                    <% @invited_lists.each do |list| %>
                        <li><%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                          <span><i><%= "   "+list.created_at.to_time.strftime("%m/%d/%Y") %></i></span></li>
                    <% end %>
                  </ul>
              <% else %>
                  <p style="margin-left: 40px;">Sorry, nobody needs your input or help.</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //============ start more/less my lists
        $(".see_more_my_lists_btn").on('click', function () {
            $(this).hide();
            $('#loading_more_my_lists').show();
            old_total = $('.one_my_list').length;
            var url = "/mylists/see_more_my_list?p=" + old_total;
            $.get(url,function () {
            }).done(function () {

                        // Effect
                        var new_list = $('.one_my_list');
                        for (i = new_list.length - 1; i >= old_total; --i) {
                            $(new_list[i]).fadeIn(1000);
                        }

                    });
        });
        // Effect
        $(".see_less_my_lists_btn").on('click', function () {
            $(this).hide();
            $('.see_more_my_lists').children().fadeOut(500);
            $('.see_more_my_lists').html('');
            $(".see_more_my_lists_btn").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
        //============= end more/less my lists

        //============ start more/less archived lists
        $(".see_more_archived_lists_btn").on('click', function () {
            old_total = $('.one_archived_list').length;
            var url = "/mylists/see_more_archived_list?p=" + old_total;
            $.get(url,function () {
            }).done(function () {
                        // Effect
                        var new_list = $('.one_archived_list');
                        for (i = new_list.length - 1; i >= old_total; --i) {
                            $(new_list[i]).fadeIn(1000);
                        }
                    });
        });
        // Effect
        $(".see_less_archived_lists_btn").on('click', function () {
            $(this).hide();
            $('.see_more_archived_lists').children().fadeOut(500);
            $('.see_more_archived_lists').html('');
            $(".see_more_archived_lists_btn").show();
        });
        //============ end more/less archived lists
    });
</script>