<% title "Tudli | My lists" %>
<div class="section clearfix">
  <div class="pull-right">
    <div id="quickmenu">
      <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+ New</a>
        <a href="<%= inviting_path %>" class="pull-left">+ INVITE</a>
        <a href="<%= my_list_path %>" class="pull-left">MY LISTS</a></div>
    </div>
  </div>
  <div class="pull-left">
    <h3>My Lists</h3>
  </div>
</div>
<div class="section clearfix">
  <div id="mylist">
    <div class="clearfix">
      <div class="divine50">
        <div class="signoption row-fluid">
          <div class="mylist">

            <div class="panel">
              <% if @lists.blank? %>
                  <h4>You don't have any list</h4>
              <% else %>
                  <%= form_tag search_my_list_path, :class => "searchmini clearfix", :remote => true do %>
                      <%= text_field_tag 'list_name', nil, class: "textinput input-medium", placeholder: "Search ....", :required => true %>
                      <input type="submit" value="" class="submitbt">
                  <% end %>
                  <% @lists.each do |list| %>
                      <% unless list.finished? %>
                          <label class="checkbox">
                            <%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                            <span><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i>
                    </span>&nbsp;<%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btndeletelist') %>
                          </label>
                          <% @connect_users = ListTeamMember.where(list_id: list.id, active: true) %>
                          <% uids = [] %>
                          <% if !@connect_users.blank? %>
                              <% @connect_users.each do |con| %>
                                  <% uids += [con.invited_id] %>
                              <% end %>
                              <% @connects = User.where("id in (?)", uids) %>
                              <% @connects.each do |connect| %>
                                  <ul class="unstyled">
                                    <li class="connect-email"><%= connect.email %>
                                      <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                    </li>
                                  </ul>
                              <% end %>
                          <% end %>
                      <% end %>
                  <% end %>

                  <br/>
                  <%= link_to 'Add unlimited Lists', my_dashboard_path(:action => 'upgrade'), :class => 'btn' if current_user.has_role? 'free' %>
                  <br/>
              <% end %>
            </div>


            <% if !@lists.blank? %>
                <h4>Archived Lists</h4>
                <% @lists.each do |list| %>
                    <% if list.finished? %>
                        <label class="checkbox">
                          <%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                          <span><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i>
                    </span>&nbsp;<%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btndeletelist') %>
                        </label>
                        <% @connect_users = ListTeamMember.where(list_id: list.id, active: true) %>
                        <% uids = [] %>
                        <% if !@connect_users.blank? %>
                            <% @connect_users.each do |con| %>
                                <% uids += [con.invited_id] %>
                            <% end %>
                            <% @connects = User.where("id in (?)", uids) %>
                            <% @connects.each do |connect| %>
                                <ul class="unstyled">
                                  <li class="connect-email"><%= connect.email %>
                                    <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                  </li>
                                </ul>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="divine50">
        <h3 style="margin-left: 10px;">Invited list</h3>
        <% if !@friend_lists.blank? %>
            <ul class="unstyled" style="margin-left: 15px;">
              <% @friend_lists.each do |list| %>
                  <li><%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                    <span><i><%= "   "+list.created_at.to_time.strftime("%m/%d/%Y") %></i></span></li>
              <% end %>
            </ul>
        <% else %>
          <p style="margin-left: 10px;">There aren't any invited list !</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    //    $('.btninvite').on("click", function () {
    //        var list_ids = new Array();
    //        $('input[name="listselects"]:checked').each(function () {
    //            list_ids.push($(this).val());
    //        });
    //        if (list_ids.length === 0) {
    //            $('input[name="listselects"]').each(function () {
    //                list_ids.push($(this).val());
    //            });
    //        }
    //        var datalist = JSON.stringify(list_ids);
    //        var url = $(this).data("url");
    //        $.ajax({
    //            type: "post",
    //            url: url,
    //            data: {'list': datalist},
    //            dataType: "json",
    //            success: function (data) {
    //                if (data.location) {
    //                    window.location.href = data.location;
    //                }
    //                if (data.flash && data.flash.notice) {
    //                    // Maybe display flash message, etc.
    //                }
    //            },
    //            error: function () {
    //                // If login fails, sending 422 error code sends you here.
    //            }
    //        });
    //    });
</script>