<% title "Tudli | My lists" %>
<div class="section clearfix">
  <div class="pull-right">

  </div>
  <div class="pull-left">
    <h3>My Lists</h3>
  </div>
</div>
<div class="section clearfix">
  <div id="mylist">
    <div class="clearfix">
      <div class="divine50">
        <div class="signoption row-fluid">
          <div class="mylist">

            <div class="panel">
              <% if @lists.blank? %>
                  <h4>You don't have any list</h4>
              <% else %>

                  <!--Rebuild-->
                  <% if false %>
                  <%= form_tag search_my_list_path, :class => "searchmini clearfix", :remote => true do %>
                      <%= text_field_tag 'list_name', nil, class: "textinput input-medium", placeholder: "Search ....", :required => true %>
                      <input type="submit" value="" class="submitbt">
                  <% end %>
                  <% end %>
                  <table class="table table-hover">
                    <% @lists.each do |list| %>
                        <tr>
                          <% unless list.finished? %>
                              <td class="checkbox"><%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                                <% @connect_users = ListTeamMember.where(list_id: list.id, active: true) %>
                                <% uids = [] %>
                                <% if !@connect_users.blank? %>
                                    <% @connect_users.each do |con| %>
                                        <% uids += [con.invited_id] %>
                                    <% end %>
                                    <% @connects = User.where("id in (?)", uids) %>
                                    <% @connects.each do |connect| %>
                                        <ul class="unstyled" style="padding-top: 10px;">
                                          <li class="connect-email"><%= "#{connect.name} <#{connect.email}> " %>
                                            <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                          </li>
                                        </ul>
                                    <% end %>

                                <% end %>
                              </td>

                              <td><span><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i></span>&nbsp;</td>
                              <td> <%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btn-circle btndeletelist') %></td>

                          <% end %>
                        </tr>
                    <% end %>

                  </table>

                  <br/>
                  <%= link_to 'Add Unlimited Lists', my_account_path(:action => 'upgrade'), :class => 'btn btn-primary btn-small btn-circle' if !current_user.can_create_new_list? %>
                  <br/>
              <% end %>
            </div>
            <br/>

            <div class="panel">
              <% if current_user.completed_lists %>
                  <h4>Archived Lists</h4>
                  <table class="table table-hover">
                    <% @lists.each do |list| %>
                        <tr>
                          <% if list.finished? %>

                              <td class="checkbox"><%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>

                                <% @connect_users = ListTeamMember.where(list_id: list.id, active: true) %>
                                <% uids = [] %>
                                <% if !@connect_users.blank? %>
                                    <% @connect_users.each do |con| %>
                                        <% uids += [con.invited_id] %>
                                    <% end %>
                                    <% @connects = User.where("id in (?)", uids) %>
                                    <% @connects.each do |connect| %>
                                        <ul class="unstyled" style="padding-top: 10px;">
                                          <li class="connect-email"><%= "#{connect.name} <#{connect.email}> " %>
                                            <%= link_to (image_tag "remove.png"), remove_connect_path(list.id, connect.id), :data => {:confirm => "Are you sure we should remove this user?"} %>
                                          </li>
                                        </ul>
                                    <% end %>

                                <% end %>
                              </td>


                              <td><span><i><%= list.created_at.to_time.strftime("%m/%d/%Y") %></i></span>&nbsp;</td>
                              <td> <%= link_to("Delete", list_path(list), :data => {:confirm => "Delete this list?"}, :method => :delete, :class => 'btn btn-mini btn-danger btn-circle btndeletelist') %></td>


                          <% end %>
                        </tr>

                    <% end %>
                  </table>
              <% end %>
            </div>


          </div>
        </div>
      </div>
      <div class="divine50">
        <h3 style="margin-left: 40px;">Invited list</h3>
        <% if !@friend_lists.blank? %>
            <ul class="unstyled" style="margin-left: 40px;">
              <% @friend_lists.each do |list| %>
                  <li><%= link_to truncate(list.name, :length => 40), list_view_path(list.slug) %>
                    <span><i><%= "   "+list.created_at.to_time.strftime("%m/%d/%Y") %></i></span></li>
              <% end %>
            </ul>
        <% else %>
            <p style="margin-left: 40px;">Sorry, nobody needs your input or help.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>