<div class="section clearfix">
  <div class="pull-right">
    <div id="quickmenu">
      <div class="clearfix"><a href="<%= root_path %>" class="pull-left" target="_blank">+ New</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %><a href="<%= my_list_path %>" class="pull-left">MY LISTS</a></div>
    </div>
  </div>
  <div class="pull-left">
    <%#*<div id="logo"><img alt="checklistpal" src="../assets/logo.png"><span>&nbsp;checklist<span>pal</span></span></div>%>
    <h3>MY LISTS</h3>
  </div>
</div>
<hr class="divider">
<div class="section clearfix">
  <div id="mylist">
    <div class="clearfix">
      <div class="divine50">
        <div class="signoption row-fluid">
          <div class="signuppanel">
            <%#div class="searchmini clearfix"%>
              <%= form_tag search_my_list_path ,:class => "searchmini clearfix",:remote => true do %>
              <%= text_field_tag 'list_name',nil, class: "textinput input-medium" ,placeholder:"Search ...." ,:required => true %>
              <input type="submit" value="" class="submitbt">
              <% end %>
            <!-- </div> -->
            <div class="panel">
              <h3>Created list</h3>
              <% @lists.each do |list| %>
              <label class="checkbox">
                <input type="checkbox"><%= link_to truncate(list.name,:length => 40), list  %><span><i><%= list.created_at.to_time.strftime("%m/%d/%Y")%></i></span>&nbsp;<%= link_to("Delete", list_path(list), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %>
              </label>
              <% end %>
              <hr/>			  
              <% if @friend_lists %>
              <h3>Invitation list</h3>
              <% @friend_lists.each do |list| %>
              <label class="checkbox">
                <input type="checkbox"><%= link_to truncate(list.name,:length => 40), list %><span><i><%= list.created_at.to_time.strftime("%m/%d/%Y")%></i></span>
              </label>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
