<% if current_user %>
  <div class="section clearfix">
    <div class="pull-right">
      <div id="quickmenu">
        <div class="clearfix"><a href="<%= root_path %>" class="pull-left" target="_blank">+ New</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %><a href="<%= my_list_path %>" class="pull-left">MY LISTS</a></div>
      </div>
    </div>
    <div class="pull-left">
      <div id="logo">
        <%= image_tag "blue_logo.png"%>       
      </div>
    </div>
  </div>
<% else %>
<div class="section clearfix">
      <div class="pull-right">
        <div id="quickmenu">
          <div class="clearfix"><a href="<%= root_path %>" class="pull-left" target="_blank">+ New</a><a href="javascript:;"  class="bookmark pull-left">BOOKMARK</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %></div>
          </div>
      </div>
      <div class="pull-left">
        <div id="logo">
          <%= image_tag "blue_logo.png"%>
        </div>
      </div>
    </div>
<% end %>
<div class="section clearfix">
  <h3><%= @page.title %></h3>
  <p><%= raw @page.content %></p>
</div>
