<% title "Tudli - #{@page.nil? ? "Support" : @page.title }" %>
<% if current_user %>
    <div class="section clearfix">
      <div class="pull-right">
        <div id="quickmenu">
          <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+
            New</a><%= link_to_function("PRINT", "javascript:print()", html_options={:class => "pull-left", :target => "_blank"}) %>
            <a href="<%= my_list_path %>" class="pull-left">MY LISTS</a></div>
        </div>
      </div>
      <div class="pull-left">
        <div id="logo">

        </div>
      </div>
    </div>
<% else %>
    <div class="section clearfix">
      <div class="pull-right">
        <div id="quickmenu">
          <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+
            New</a><a href="javascript:;" class="bookmark pull-left">BOOKMARK</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a><%= link_to_function("PRINT", "javascript:print()", html_options={:class => "pull-left", :target => "_blank"}) %>
          </div>
        </div>
      </div>
      <div class="pull-left">
        <div id="logo">
          <%= link_to (image_tag "blue_logo.png"), root_path %>
        </div>
      </div>
    </div>
<% end %>
<div class="section clearfix">
  <h1> <%= @page.nil? ? "Support" : @page.title %></h1>

  <p><%= raw (@page.nil? ? "" : @page.content) %></p>
</div>
