<% title "Dashboard" %>
<% content_for :head do %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
<% end %>
<div class="section clearfix">

  <div class="pull-right">

    <div id="quickmenu">
      <div class="clearfix">
        <a href="<%= root_path %>" class="pull-left">+ New</a><a href="<%= my_list_path %>" class="pull-left">MY
        LISTS</a></div>
    </div>

  </div>
  <div class="pull-left">
    <h3>My Dashboard</h3>

    <div id="logo">
    </div>
  </div>
</div>

<div id="change-avatar-dialog" class="modal fade" style="display: none;">
  <div class="modal-header">
    <h4> Browse your local machine and select the file </h4>
  </div>

  <div class="modal-body">

    <!-- Change the target of the form to the hidden iframe -->
    <form id="avatar_form" action="/users/upload_avatar" method="post" enctype="multipart/form-data" target="uploader_iframe">
      <input id="avatar_file_field" type="file" name="avatar" size="30"/>
    </form>

    <!-- Hidden iframe which will interact with the server, do not forget to give both name and id values same -->
    <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>
    <!-- Just added to show the preview when the image is uploaded. -->

    <div class="error-upload hidden">
      <h4 style="color: red;" class="error-message"> Invalid file, please select an image file !</h4>
    </div>

    <div class="uploading-indicator hidden" style="font-size: 120%;">
      Uploading <img src="/assets/loading.gif" id="loading-indicator"></img>
    </div>

    <div class="success-indicator hidden" style="font-size: 120%;">
      <h4 style="color: #006dcc;"> Your avatar has been updated ! </h4>
    </div>

    <script>
        $(function () {
            $("#avatar_file_field").change(function () {
                var ext = $(this).val().split('.').pop().toLowerCase();
                $('.error-upload').addClass('hidden');
                if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    // resize


                    $('.uploading-indicator').addClass('hidden');
                    $('.success-indicator').addClass('hidden');
                    $('.error-upload').removeClass('hidden');
                }
                else {
                    if (this.files[0].size > 1000141) {
                        $('.error-upload').removeClass('hidden');
                        $('.error-message').text('File size is too big');
                    }
                    else {
                        $('.error-upload').addClass('hidden');
                        $('.uploading-indicator').removeClass('hidden');
                        $("#avatar_form").submit();
                        $("#uploader_iframe").unbind().load(function () {
                            result = JSON.parse($(this).contents().text());
                            $('.uploading-indicator').addClass('hidden');
                            $('.error-upload').addClass('hidden');
                            $('.success-indicator').removeClass('hidden');
                            $('#avatar_form').addClass('hidden');
                            setTimeout(function () {
                                window.location.replace("/my_dashboard");
                            }, 1000);

                        });
                    }


                }
            });
        });
    </script>

  </div>

  <div class="modal-footer">

    <a class="btn" data-dismiss="modal" href="#">Close</a>
  </div>
</div>


<div class="section clearfix">
  <div id="signupfree">
    <div class="clearfix">
      <div class="divine50">
        <div class="signoption row-fluid">
          <div class="signuppanel">
            <div class="panel">
              <h3>Account's profile</h3>

              <p>
                <%= image_tag avatar_url(current_user) || "default_avatar.gif", class: "avatar", :size => "40x50" %>
                <a data-toggle="modal" href="#change-avatar-dialog" class="btn  btn-small" type="button">Change</a>
              </p>
              <br/>
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :multipart => true, :html => {:method => :put, :class => 'form-vertical'}) do |f| %>
                  <%#= f.error_notification %>
                  <% if resource.errors.full_messages.present? %>
                      <% resource.errors.full_messages.each do |message| %>
                          <div class="alert alert-error">
                            <%= message %>
                            <a class="close" data-dismiss="alert">x</a>
                          </div>
                      <% end %>
                  <% end %>
                  <div class="controls">
                    <%= f.email_field :email, :autofocus => true, :placeholder => "Email address", :class => "span9", :required => true, :readonly => true %>
                  </div>
                  <div class="controls">
                    <%= f.text_field :name, :placeholder => "User name", :class => "span5", :required => true %>
                  </div>
                  <div class="controls">
                    <%= f.password_field :password, :placeholder => "Password", :class => "span5", :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
                  </div>
                  <div class="controls">
                    <%= f.password_field :password_confirmation, :required => false, :placeholder => "Password again", :class => "span5" %>
                  </div>
                  <div class="controls">
                    <%#= f.password_field :current_password, :required => true, :placeholder =>"Current password", :class =>"span5",:hint => "we need your current password to confirm your changes",:required => true %>
                  </div>
                  <%= f.button :submit, 'Update', :class => 'btn-primary btn-small' %>
              <% end %>
              <p>Unhappy?
                <a data-toggle="modal" href="#cancel-account" class="btn btn-danger btn-mini" type="button">Cancel my
                  account</a></p>
            </div>
          </div>
        </div>
        <div class="signoption row-fluid">
          <div class="signuppanel">
            <h3>Subscription Plan</h3>

            <p>
              Your current plan is <%= current_user.roles.first.name.titleize %>

              <% if !@user.last_4_digits.blank? %>
                  <% if @user.roles.first.name == 'free' %>
                      <a data-toggle="modal" href="#plan-options" class="btn btn-primary btn-small" type="button">Upgrade
                        to
                        Paid</a>
                  <% else %>
                      <a data-toggle="modal" href="#plan-options" class="btn btn-primary btn-small" type="button">Downgrade
                        to
                        Free</a>
                  <% end %>
              <% end %>

            </p>

            <h3>Card</h3>

            <p>
              <% if current_user.last_4_digits.blank? %>
                  You need update card to upgrade your plan
              <% else %>
                  Using card ending with <%= current_user.last_4_digits %>
              <% end %>

              <a data-toggle="modal" href="#change-card" class="btn btn-primary btn-small" type="button">Change card</a>
            </p>
          </div>
        </div>


      </div>
      <div class="divine50">
        <div class="signoption row-fluid">

          <div class="signuppanel">
            <h3>Lists</h3>
            <% if current_user.lists.count == 0 %>
                <p>You don't have any list
                </p>
            <% else %>
                <p>You currently have
                  <a href="<%= my_list_path %>"><%= current_user.lists.count > 1 ? "#{current_user.lists.count} lists" : "list" %> </a>
                </p>
            <% end %>

          </div>
          <div class="signuppanel">
            <h3>Connections</h3>

            <p>You currently
              have
              <%= current_user.connection_count %>     connections
            </p>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#delete-confirm').on('click', function () {
            var content = $('#feedback-content').val().trim();
            if (content.length > 0) {
                var dataserialized = $('#feedback-form').serialize();
                $.ajax({
                    url: "users/feedback",
                    type: "post",
                    data: dataserialized,
                });
            }
        });
    })
</script>

<div id="cancel-account" class="modal fade" style="display: none;">
  <div class="modal-header">
    <h4> Please let us know the reason you wish to cancel your account</h4>
  </div>

  <div class="modal-body">
    <form id="feedback-form">
      <%#= hidden_field_tag :email, current_user.email %>
      <%= text_area_tag :content, nil, :style => "width: 99%; border: 1; padding: 0; margin: 0;", :rows => 5, :id => 'feedback-content' %>
    </form>
  </div>

  <div class="modal-footer">
    <%= link_to "Cancel my account", registration_path(resource_name), :method => :delete, :class => 'btn btn-danger', id: "delete-confirm" %>
    <a class="btn" data-dismiss="modal" href="#">Close</a>
  </div>
</div>


<div id="change-card" class="modal fade" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_card_path, :html => {:method => :put, :class => 'form-horizontal card_form'} do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>

        <h3>Change Credit Card</h3>
      </div>
      <div class="modal-body">
        <div id="stripe_error" class="alert alert-error" style="display:none">
        </div>
        <div class="field">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil, name: nil, required: true, :style => "height: 20px;" %>
        </div>
        <div class="field">
          <%= label_tag :card_code, "Card Security Code (CVV)" %>
          <%= text_field_tag :card_code, nil, name: nil, :style => "height: 20px;" %>
        </div>
        <div class="field">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month Date.today.month, {start_month: Date.today.month, add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"} %>
        </div>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :stripe_token %>
      </div>
      <div class="modal-footer">
        <%= f.submit "Change Credit Card", :class => "btn btn-primary" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
  <% end %>
</div>
<div id="plan-options" class="modal fade" style="display: none;">
  <%= simple_form_for resource, :as => resource_name, :url => update_plan_path, :html => {:method => :put, :class => 'form-horizontal'} do |f| %>
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>

        <h4>Please confirm your selection</h4>
        <% if resource.errors.full_messages.present? %>
            <%= resource.errors.full_messages %>
        <% end %>
      </div>
      <% free_plan = Role.where(name: 'free').first
      %>

      <div class="modal-body">
        <div class="clearfix">
          <div class="divine50">
            <div class="signoption text-center">
              <h3><strong>Free</strong> account</h3>
              <hr class="divider">
              <ul class="unstyled">
                <li>Create unlimited lists</li>
                <li>(<%= free_plan.max_savedlist %>) Saved lists</li>
                <li>(<%= free_plan.max_connections %>) Connections</li>
                <li>Comment on your lists</li>
                <li>Print your lists</li>
                <li>Share your lists</li>
              </ul>
            </div>
          </div>
          <div class="divine50">
            <div class="signoption text-center">
              <h3><strong>$4.95 /mo</strong> account</h3>
              <hr class="divider">
              <ul class="unstyled">
                <li>Create unlimited lists</li>
                <li><u><strong>Unlimited</strong></u> saved lists</li>
                <li><u><strong>Unlimited</strong></u> connections</li>
                <li>Comment on your lists</li>
                <li>Print your lists</li>
                <li>Share your lists</li>
              </ul>
            </div>
          </div>
        </div>

        <%#= f.input :role_ids, :collection => Role.all.delete_if { |i| i.name == 'admin' || i.name == @user.roles.first.name}, :as => :radio_buttons, :label_method => lambda { |t| t.name.titleize }, :label => false, :item_wrapper_class => 'inline' %>
        <%= f.hidden_field :role_ids, :value => Role.find(:all, :conditions => ['name != ?', @user.roles.first.name]).first.id %>
      </div>
      <div class="modal-footer">

        <% if @user.roles.first.name == 'free' then
             button_text = 'Upgrade now!'
           else
             button_text = 'Downgrade now!'
           end %>

        <%= f.submit button_text, :class => "btn btn-primary" %>
        <a class="btn" data-dismiss="modal" href="#">Close</a>
      </div>
  <% end %>
</div>