<div id="signupfree">
  <div class="clearfix">
    <div class="divine50">
      <div class="signoption row-fluid">
        <div class="signuppanel">
          <% content_for :head do %>
          <%= tag :meta, :name => "stripe-key", :content => "pk_test_hNltPbfQGTFuyleT8Rw5W8R5" %>
          <% end %>
          <%#*<div id="stripe_error" class="alert alert-error" style="display:none" >%>
          <h3>Create a free account</h3>
          
          <div class="panel">
            <%= simple_form_for(resource, :as => resource_name,:url => registration_path(resource_name) ,:html => {:class => "card_form form-vertical "})  do |f| %>
              <%= f.error_notification %>
              <div class="controls">
                <%= f.input :name, :placeholder =>"Username", :class =>"span9", :required => true %>
              </div>
              <div class="controls">
                <%= f.input :email ,:placeholder =>"Email address", :class =>"span5", :required => true %>
              </div>
              <div class="controls">
                <%= f.input :password ,:placeholder =>"Password", :class =>"span5", :required => true %>
              </div>
              <div class="controls">
                <%= f.input :password_confirmation ,:placeholder =>"Password again", :class =>"span5", :required => true %>
              </div>
            <div class="controls">
            <%= f.button :submit, "Sign up",:class => "btn btn-primary" %>
            </div>
            <% end %>
              <!-- ----------------------------begin-TESTING--------------------- -->
              <%# if @user.stripe_token %>
                <%#*<p>Credit card acceptance is pending.</p>%>
              <%# else %>
                <%#*<div class="field">%>
                  <%#= label_tag :card_number, "Credit Card Number" %>
                  <%#= text_field_tag :card_number, nil, name: nil %>
                <%#*</div>%>
                <%#*<div class="field">%>
                  <%#= label_tag :card_code, "Card Security Code (CVV)" %>
                  <%#= text_field_tag :card_code, nil, name: nil %>
                <%#*</div>%>
                <%#*<div class="field">%>
                  <%#= label_tag :card_month, "Card Expiration" %>
                  <%#= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
                  <%#= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
                <%#*</div>%>
                <%#*<div class="field">%>
                  <%#= f.input :coupon, :label => 'Promotional Coupon (if any)' %>
                <%#*</div>%>
              <%# end %>
              <%#= f.hidden_field :stripe_token %>
              <%#= f.button :submit, 'Sign up', :class => 'btn-primary' %>
            <%# end %>
            <!-- ---------------------------end--TESTING--------------------- -->
          </div>
        </div>
      </div>
    </div>
    <div class="divine50">
      <div class="signoption">
        <div class="signinpanel">
          <h3 class="text-center">Log In</h3>
          <div class="social-account">
            <p class="text-center">Sign in with Your Facebook Account</p>
            <p class="text-center"><a href="#" class="btn btn-primary facebookbt"><i class="icon-facebook"></i>&nbsp;&nbsp;Connect with Facebook</a></p>
          </div>
          <hr class="divider">
          <div class="panel">

            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => {:class => "row-fluild"}) do |f| %>
              <div class="controls">
                <%= f.input :email,:placeholder =>"Email address" ,:class =>"input-block-level" ,:required => true, :autofocus => true %>
              </div>
              <div class="controls controls-row">
                <%= f.input :password,:placeholder =>"Password", :class =>"span7", :required => true %>
                <span class="span5"><%= link_to "Forgot your password?", new_password_path(resource_name) %></span>
              </div>
              <div class="controls">
                <%= f.button :submit, "Sign in",:class =>"btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>