<div class="section clearfix">
  <div id="paid">
    <div class="clearfix">
      <div class="divine50">
        <div class="signoption row-fluid">
          <div class="signuppanel">
            <h3>Create your account</h3>
            <div class="panel">
                <%= simple_form_for(resource, :as => resource_name,:url => registration_path(resource_name) ,:html => {:class => "row-fluild"})  do |f| %>
                <%= f.error_notification %>
                <div class="controls">
                  <%= f.input :email, :placeholder =>"Email address", :class =>"span8", :required => true %>
                </div>
                <div class="controls">
                  
                  <%= f.input :name ,:placeholder =>"Username", :class =>"span5", :required => true %>
                </div>
                <div class="controls">
                  <%= f.input :password ,:placeholder =>"Password", :class =>"span5", :required => true %>
                </div>
                <div class="controls">
                  <%= f.input :password_confirmation ,:placeholder =>"Password again", :class =>"span5", :required => true %>
                </div>
                <div class="controls">
                  <div class="space"></div>
                  <input type="submit" value="Next Step" class="btn btn-primary btn-large">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>