<% if task.comments.length > 0 %>
    <% task.comments.each do |comment| %>
        <div class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle">
                <img class="avatar" src="<%= avatar_url(User.find(comment.user_id)) || "/assets/default_avatar.gif"%>" width="40" height="50"></img>
                <%= User.find(comment.user_id).email %> <span class="text-info"> : <%= comment.content %> </span>
                <%#= auto_link(comment.content, :html => {:target => '_blank', :class => "comment_content"}) %>
              </a>
            </div>

            <% if false %>
                <div id="collapse_<%= comment.id %>" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div class="comment-content">
                      <%= auto_link(comment.content, :html => {:target => '_blank', :class => "comment_content"}) %>
                    </div>
                  </div>
                </div>
            <% end %>

          </div>
        </div>
    <% end %>
<% end %>
<%= form_tag add_comment_path(task), :class => "form_create_comment", :remote => true do %>
    <%= text_area_tag :content, nil, :rows => 3 , :placeholder => "maximum 140 characters"%>
    <%= submit_tag "Submit", :class => "add_comment_bt btn btn-small btn-warning" %>
    <%= button_tag "Close", :type => "button", :class => "close_comment_bt btn btn-small" %>
<% end %>
<script>
    $(".close_comment_bt").on("click", function () {
        $(this).parent().children("#content").val("");
        $(this).parent().parent('.comment-add').fadeOut(300);
    });
</script>