  <% if task.comments.length > 0 %>
    <% task.comments.each do |comment|%>
      <div class="accordion" id="accordion_<%= comment.id %>">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_<%= comment.id %>" href="#collapse_<%= comment.id %>">
              <%= User.find(comment.user_id).email %> <span class="text-info">SAID</span> on: <%= comment.created_at.to_time.strftime("%m/%d/%Y") %>
            </a>
          </div>
          <div id="collapse_<%= comment.id %>" class="accordion-body collapse in">
            <div class="accordion-inner">                            
              <div class="comment-content">
                <%= comment.content %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= form_tag add_comment_path(task),:class =>"form_create_comment", :remote => true do %>
    <%= text_area_tag :content , nil, :style => "width:775px;height:100px;" %>
    <%= submit_tag "Add comment" , :class => "add_comment_bt btn btn-medium btn-warning" %>
  <% end %>