<div class="items">
<label class="checkbox">
  <span class="mark">
    <%= form_tag(incomplete_task_path(@list.id, @task.id), :remote => true) do |f| %>
      <%= check_box_tag 'mark_in_complete', 0, true, :class => 'checkbox mark_in_comp', :style => "float:left;" %>
    <% end %>
  </span>

  <span class="task-des" data-url="<%= edit_task_path(@list.id, @task.id) %>">
    <div class="item-title" id="item_title_<%= @task.id %>" style="text-decoration: line-through; color: rgb(153, 153, 153); "><%= @task.description  %> </div>
  </span>
</label>
<span class="action">
  <%= link_to content_tag_for(:i, @list, :class => "icon-edit edit_task_bt") , "#",:class => 'btn-edit' %>
  <%= link_to content_tag_for(:i, @list, :class => "icon-trash remove_task_bt"), delete_task_path(@list.id,@task.id), :class => 'btn-delete' ,:remote => true %>
</span> 
<span class="clear"></span>
<span class="taskduedate" >
  <label class="duedate">
  <% if @task.hasduedate %>
     <%= form_tag(no_due_date_path(@list.id, @task.id), :remote => true ) do |f| %>
     <%= check_box_tag 'no_dua_date', 0 , true , :class => "checkbox task-noduedate" %>
     <% end %>
   <% else %>
     <%= form_tag(has_due_date_path(@list.id, @task.id), :remote => true ) do |f| %>
     <%= check_box_tag 'has_due_date' , 1 , false , :class => "checbok task-hasduedate "%>
     <% end %>
   <% end %>
   <span><p>Due date</p></span>
  </label>
</span>
</div>