<label class="checkbox">
<%= form_tag(incomplete_task_path(@list, @task), :remote => true) do |f| %>
  <%= check_box_tag 'mark_in_complete', 0, true, :class => 'checkbox mark_in_comp' %>
  <span class="task-des" data-url="<%= edit_task_path(@list.id, @task.id) %>">
    <div class="item-title" id="item_title_<%= @task.id %>" style="text-decoration: line-through; color: rgb(153, 153, 153); font-weight: bold;"><%= @task.description  %> </div>
  </span>
  <span class="action">
        <%= link_to content_tag_for(:i, @list, :class => "icon-edit edit_task_bt") , "#",:class => 'btn-edit' %>
      	<%= link_to content_tag_for(:i, @list, :class => "icon-trash remove_task_bt"), delete_task_path(@list.id,@task.id),:class => 'btn-delete', :remote => true %>
 </span>
<% end %>
</label>
