<% if current_user %>
  <div class="section clearfix">
    <div class="pull-right">
      <div id="quickmenu">
        <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+ New</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %><%= link_to '+ INVITE', find_invite_path(@list.id), :class => "pull-left" %><a href="<%= my_list_path %>" class="pull-left">MY LISTS</a></div>
      </div>
    </div>
    <div class="pull-left">
      <div id="logo">
        <span class="list-name" data-url="<%= edit_list_path(@list)%>">&nbsp;<%= @list.name %></span>
        <a href="javascript:;" class="logo-editbt">(Edit)</a>        
      </div>
    </div>
  </div>
<% else %>
<div class="section clearfix">
      <div class="pull-right">
        <div id="quickmenu">
          <div class="clearfix"><a href="<%= root_path %>" class="pull-left">+ New</a><a href="javascript:;"  class="bookmark pull-left">BOOKMARK</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %></div>
          </div>
      </div>
      <div class="pull-left">
        <div id="logo">
          <%= image_tag "blue_logo.png"%>
        </div>
      </div>
    </div>
<% end %>
    <div class="section clearfix">
      <div id="todolistsearch">
        <div class="todolist">
      <% if @task %>
          <h4>Task information</h4>
          <div class="task-info">
          <div class="create-user">
            Create user : 
            <% if @task.user_id.present? %>
            <%= User.find(@task.user_id).email  %>
            <% else %>
            Unknown
            <% end %>
          </div>
          <div class="task-name">
             Task name :<%=  @task.description %>
          </div>
          <div class="task-created-at">
             Task created at : <%=  @task.created_at %> 
          </div>
          <div class="task-due-date">
            Task due date :<%=  @task.due_date  %>
          </div>
          </div>
      <% end %>
          <hr/>
          
          <% if @task.comments.length > 0 %>
            <h4>Task comments</h4>
              <% @task.comments.each do |comment|%>
                <div class="accordion" id="accordion_<%= comment.id %>">
                  <div class="accordion-group">
                    <div class="accordion-heading">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_<%= comment.id %>" href="#collapse_<%= comment.id %>">
                        <%= User.find(comment.user_id).email %> <span class="text-info">SAID</span> on: <%= comment.created_at.to_time.strftime("%m/%d/%Y") %>
                      </a>
                    </div>
                    <div id="collapse_<%= comment.id %>" class="accordion-body collapse in">
                      <div class="accordion-inner">                            
                        <div class="comment-content">
                          <%= comment.content %> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>             
        </div>
      </div>
    </div>