<h3>Results</h3>
<ul class="unstyled">
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= truncate(user.name, :length => 20) %> </td>
          <td><%= truncate(user.email, :length => 20) %></td>
          <td> <%= form_tag find_and_invite_path, :class => "invite-user" do %>
                <%= hidden_field_tag :list_id, @list_id, :class => 'list_id' %>
                <%= hidden_field_tag :user_email, user.email, :class => 'user_email' %>
                <a href="javascript:void(0);" class="btn btn-success btn-small btninvite">
                  &nbsp;Invite
                </a>
            <% end %>
          </td>

        </tr>
        </tbody>

    <% end %>
    </table>
</ul>
<script>
    $(document).ready(function () {
        $('.btninvite').on("click", function () {
            $('#btn-search-and-invite').attr('disabled', 'disabled');
            $("#loading").toggle();
            $('#list_invites').empty();
            $('.btninvite').css({ display: "none" });
            var lid = $(this).parent().children('.list_id').val();
            var user_email = $(this).parent().children('.user_email').val();
            var url = '/invite_user_by_email?list_id=' + lid + '&user_email=' + user_email;
            $.get(url,function () {
            }).done(function () {
                        $("#loading").toggle();
                        $('#btn-search-and-invite').removeAttr('disabled');
                    });

        });
    });
</script>
