<hr/>
<h3>Results</h3>
<ul class="unstyled">
  <div id="loading2" class="alert alert-success" style="display: none;">
    Sending email  <%= image_tag 'loading.gif' %>
  </div>
  <% @users.each do |user| %>
      <li>
    <span class="name span4">
      <%= user.name %>
    </span>
    <span class="email span4">
      <%= user.email %>
    </span>
    <span class="span4">
        <%= form_tag invite_user_path(@list_id), :class => "invite-user", :remote => true do %>
        <%= hidden_field_tag :user_id, user.id %>
          <br/>
        <button type="submit" class="btn btn-success btn-small btninvite">
          <i class="icon-user"></i>&nbsp;Invite
        </button>
      <% end %>
    </span>
      </li>
  <% end %>
</ul>
<script>
    $(document).ready(function () {
        $('.btninvite').on("click", function () {
            $("#loading2").toggle();
            $('.btninvite').css({ display: "none" });
        });
    });
</script>
