<div class="section clearfix">
  <div class="pull-left"><h3>Invite Anyone</h3></div>
  <div class="pull-right">

  </div>
</div>

<div class="section clearfix">
  <div id="invite">
    <div class="clearfix">
      <div class="divine30">
        <div class="signoption row-fluid">
          <div class="invitepanel">
            <h3>Select a List</h3>
            <select style="width: 200px" id="lists-combobox">
              <% @mylists.each do |l| %>
                  <option value="<%= l.id %>"><%= truncate(l.name, :length => 40) %></option>
              <% end %>
            </select>

            <h3>Find and Invite Anyone</h3>

            <div class="panel">
              <%= form_tag find_and_invite_path, :id => 'invitation_form', :class => "row-fluid", :remote => true do %>
                  <%= hidden_field_tag 'list_id', @mylists.first.id, :id => 'list-id-field' %>
                  <div class="alert alert-error" id="error_mess" style="display: none;"></div>
                  <div class="controls controls-row inline">

                    <%= text_field_tag 'user_name', nil, class: "span8", placeholder: "Username" %>
                    <span class="span4">or</span>
                  </div>

                  <div class="controls">
                    <%= email_field_tag 'user_email', nil, class: "input-block-level", placeholder: "Email address", style: "width: 200px;" %>
                  </div>
                  <div class="controls">
                    <div id="loading" style="display: none;">
                      <%= image_tag 'loading.gif' %>
                    </div>
                    <input class="btn btn-primary btnsearch" name="commit" type="submit" value="Find &amp; Invite" id='btn-search-and-invite'>
                  </div>
              <% end %>
            </div>
            <div class="panel" id="list_invites">
            </div>
          </div>
        </div>
      </div>

      <script>
          $("#user_email").keydown(function () {
              $("#user_name").val('');
          });
          $("#user_name").keydown(function () {
              $("#user_email").val('');
          });
          $('#lists-combobox').change(function () {
              $('#list-id-field').val($(this).val());
          });

      </script>



    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Validate form
        $('#invitation_form').on('submit', function () {
            var email = $('#user_email').val().trim();
            var username = $('#user_name').val().trim();
            if (email === "" && username === "") {
                $('#error_mess').text("Please fill username or email !").fadeIn(300).delay(1000).fadeOut(300);
                return false;
            }
            return true;
        });
        // Searching in progress
        $('#invitation_form').bind("ajax:beforeSend",function () {
            $("#loading").toggle();
            $('#btn-search-and-invite').attr("disabled", true);
        }).bind("ajax:success", function (xhr, data, status) {
                    $("#loading").toggle();
                    $('#btn-search-and-invite').removeAttr("disabled");
                });
    });
</script>