<style>
    .del {
        text-decoration: line-through;
        color: darkgrey;
    }
</style>


<% title "Sign up page" %>
<div class="section clearfix">
  <div class="pull-right">
    <% if false %>
        <div id="quickmenu">
          <div class="clearfix"><a href="<%= root_path %>" class="pull-left" target="_blank">+
            New</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a>
          </div>
        </div>
    <% end %>
  </div>
  <div class="pull-left">
    <div id="logo">
      <%= link_to (image_tag "blue_logo.png"), root_path %>
    </div>
  </div>
</div>
<div class="section clearfix">
  <% free_plan = Role.where(name: 'free').first
  %>

  <h3>Choose a Plan</h3>

  <div id="signupoptions">
    <div class="signupoptions-inner">
      <div class="clearfix">

        <div class="divine50 special">
          <div class="signoption text-center">
            <br/>

            <h3><strong>Free</strong></h3>
            <hr class="divider">
            <ul class="unstyled">
              <li>Create unlimited lists</li>
              <li>(<%= free_plan.max_savedlist %>) Saved lists</li>
              <li>(<%= free_plan.max_connections %>) Connections</li>
              <li class='del'>Comment on your lists</li>
              <li class='del'>Print your lists</li>
              <li class='del'>Share your lists</li>
            </ul>
            <p><%= link_to 'Sign Up', new_user_registration_path(:plan => 'free'), :class => 'btn btn-small btn-primary  signup text-center' %></p>
          </div>
        </div>

        <div class="divine50 special">
          <div class="signoption text-center">
            <br/>

            <h3><strong>$2/month</strong></h3>
            <hr class="divider">
            <ul class="unstyled">
              <li>Create unlimited lists</li>
              <li><u><strong>Unlimited</strong></u> saved lists</li>
              <li><u><strong>Unlimited</strong></u> connections</li>
              <li>Comment on your lists</li>
              <li>Print your lists</li>
              <li>Share your lists</li>
            </ul>
            <p><%= link_to 'Sign Up', new_user_registration_path(:plan => 'paid'), :class => 'btn btn-primary btn-medium signup text-center' %></p>
          </div>
        </div>
        <div class="divine50 special">
          <div class="signoption text-center">
            <strong style="color: #aa1400">Save $1 per month</strong>

            <h3><strong>$12 /year</strong></h3>
            <hr class="divider">
            <ul class="unstyled">
              <li>Create unlimited lists</li>
              <li><u><strong>Unlimited</strong></u> saved lists</li>
              <li><u><strong>Unlimited</strong></u> connections</li>
              <li>Comment on your lists</li>
              <li>Print your lists</li>
              <li>Share your lists</li>
            </ul>
            <p><%= link_to 'Sign Up', new_user_registration_path(:plan => 'paid2'), :class => 'btn btn-primary btn-medium signup text-center' %></p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
