<div class="section clearfix">
  <div class="pull-right">
    <div id="quickmenu">
      <div class="clearfix"><a href="<%= root_path %>" class="pull-left" target="_blank">+ New</a><a href="javascript:;"  class="bookmark pull-left">BOOKMARK</a><a href="#saveform" data-toggle="modal" data-remote="true" class="pull-left">SAVE</a><%= link_to_function("PRINT", "javascript:print()",html_options={:class => "pull-left",:target => "_blank"}) %></div>
    </div>
  </div>
  <div class="pull-left">
    <div id="logo">
      <%= image_tag "blue_logo.png"%>
    </div>
  </div>
</div>
<h2>Please input your password to completed accept invitation</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit t("devise.invitations.edit.submit_button") %>
<% end %>
