<style>
    .padd {
        padding-left: 7px;
        color: #cd4c4a;
    }
</style>
<script>
    $(document).ready(function () {
      $('.error').addClass('padd');
    });
</script>
<div class="section clearfix">

  <div class="pull-left">
    <div id="logo">
      <%= image_tag "blue_logo.png" %>
    </div>
  </div>
</div>

<h3>Please create a password to accept and login</h3>
<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :put} do |f| %>
    <%#= devise_error_messages! %>
    <%= f.hidden_field :invitation_token %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation %>
    <%= f.submit "Save My Password", :class => "btn btn-primary" %>
<% end %>

